axis-1_4/
build/
dist/
nbproject/
.idea/
out/
test_output/
# brauchen wir nicht, kann zum Rumprobieren genutzt werden
5_Regressionstests/Main/src/
5_Regressionstests/Main_v2/src/

*.zip
*.aux
*.log
*.pdf
*.synctex.gz
*.toc
*.uxf
*.xml
*.jar
*.mf
*.iml
*.class

# added by Flo. Those are files created by my latex package when building.
*.fls
*.fdb_latexmk

# Pdf for the use case diagram for the better quality
!anwendungsfalldiagramm.pdf
